h {
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    animation: color-change 6s infinite ease-in-out;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    padding: 20;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 150px;
    color: #ffffff;
    margin: 0;
    padding: 45;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin: 0;
    padding: 10;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    padding: 45;
}

p1 {
    font-family: Arial, sans-serif;
    font-size: 34.5px;
    color: #ff0000;
    margin: 0;
    padding: 15;
}

p2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #f2ff00;
    margin: 0;
    padding: 30;
}

p3 {
    font-family: Arial, sans-serif;
    font-size: 80px;
    color: #ff0000;
    padding: 520px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24.5px;
    background-color: #212421;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

ul p {
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul p:hover {
    color: #8b8282;
}

@keyframes color-change {
    0% {
        color: rgb(0, 247, 255);
    }

    20% {
        color: rgb(43, 255, 0);
    }

    40% {
        color: red;
    }

    60% {
        color: rgb(251, 255, 0);
    }

    80% {
        color: rgb(255, 0, 212);
    }

    100% {
        color: rgb(0, 247, 255);
    }
}

#clock {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #4d4b4b;
    padding: 8px 12px;
    border-radius: 5px;
}